{% extends  'base.html.twig' %}
{% block title 'Validation'%}
{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5">Validation de la commande</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2 class="mb-4">Récapitulatif de la commande</h2>
            <table class="table table-bordered col-12">
                    <thead class="thead-dark">
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.produit.nom }}</td>
                            <td>{{item.quantite * item.produit.nbUniteMesure}} {{item.produit.uniteMesure}}</td>
                            <td>{{ item.produit.prix * item.quantite}}€</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-right" colspan="2">Total:</td>
                        <td class="h4">{{ total }}€</td>
                    </tr>
                    </tfoot>
                </table>
        </div>
        <div class="col-6 ">
        <!---FACTURATION----->
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4">
                        <h2>Adresse de Facturation</h2>
                    </div>
                </div>
                <div class="row">
                    {{ form_start(formFac) }}
                    <div class="col-12">
                        {{ form_row(formFac.civilite) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_row(formFac.nom) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(formFac.prenom) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(formFac.adresse1) }}
                        {{ form_row(formFac.adresse2) }}
                        {{ form_row(formFac.cp) }}
                        {{ form_row(formFac.ville) }}
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-justify" for="flexCheckDefault">
                                Enregistrez cette adresse en tant qu'adresse de facturation principale
                            </label>
                        </div>
                        {{ form_row(formFac.paiement) }}
                        <button type="submit" class="btn btn-success">Valider</button>
                        {{ form_end(formFac) }}
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

{% endblock %}