{%  extends 'base.html.twig' %}
{% form_theme formRecette 'bootstrap_4_layout.html.twig' %}
{% block title 'Création de Recettes'%}

{% block body %}
    {% if not app.user %}
        <p>Veuillez vous <a href="{{path('security_login') }}">connecter</a> afin de pouvoir publier une recette.</p>
    {% else %}
    {% if editMode %}
        <h1>Modification</h1>
    {% else %}
        <h1>Création d'une Recette</h1>
    {% endif %}

    {{ form_start(formRecette) }}
        {{ form_row(formRecette.nom ,{'attr' : {'placeholder': "Nom de la Recette"}})}}
        {{ form_row(formRecette.descr,{'label':'Description','attr' : {'placeholder': "Contenu de la Recette" }}) }}
        {{ form_row(formRecette.produit,{'attr' : {'placeholder': "Ingrédients" }}) }}
        {{ form_row(formRecette.photo,{'attr' : {'placeholder': "Nom de la photo de la Recette" }}) }}
        {{ form_row(formRecette.tpsPrep,{'label': 'Temps de préparation','attr' : {'placeholder': "Temps de préparation de la Recette" }}) }}
        {{ form_row(formRecette.tpsCuisson,{'label': 'Temps de cuisson','attr' : {'placeholder': "Temps de cuisson de la Recette" }}) }}
        {{ form_row(formRecette.portion,{'attr' : {'placeholder': "Portion" }}) }}
        {{ form_row(formRecette.difficulte,{'label':'Difficulté','attr' : {'placeholder': "Difficulté de la Recette (note sur 5)" }}) }}

    <button type="submit" class="btn btn-primary">
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button>
    {{ form_end(formRecette) }}
    {% endif %}
{% endblock %}