{% extends  'base.html.twig' %}
{% block title 'Nos Recettes'%}
{% block body %}

    {% if recette != null %}
<table class="table table-hover mt-3">
    <tbody>
    <thead class="thead-dark">
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Auteur</th>
        <th>Temps de préparation</th>
        <th><a hover="Ajouter" class="active" href="{{ path('recette_create') }}">Ajouter</a></th>
    </tr>
    </thead>
    {% for recettes in recette %}
<tr>
    <td><img style="width: 10rem" src="./../assets/img/recette/{{ recettes.photo }}"></td>
    <td><a href="{{ path('show_recette', {'id':recettes.id}) }}">{{ recettes.nom }}</a></td>
    <td>{{ recettes.auteur.pseudo }}</td>
    <td>{{ recettes.tpsPrep }} mn</td>
    <td></td>
</tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
    <p>Il n'y a pas de Recettes !</p>
    {% endif %}



{% endblock %}