{% extends  'base.html.twig' %}

{% block title 'Nos Produits'%}

{% block body %}
    <div class="container mt-2">
        <h1>Nos Produits</h1>
        <div class="row d-flex align-content-stretch flex-wrap">
            {% for produit in produits %}
                <div class="col-3 m-0 p-0">
                    <div class="card p-1 m-1">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <a href="{{ path('produit.show', {id : produit.id, slug : produit.slug}) }}">{{ produit.nom }}</a>
                            </h5>
                            <div class="card-text text-center">
                                <img style="max-height:10rem;max-width:15rem" src="./assets/img/produit/{{ produit.photo }}" title="{{ produit.nom }}" alt="{{ produit.nom }} de {{ produit.four }}">
                            </div>
                            <div class="card-text text-center mt-1">
                                {{ produit.prix }}€ / {{ produit.nbUniteMesure }} {{ produit.uniteMesure }}
                            </div>
                            <div class="card-text text-center mt-1">
                                <a href="{{ path('produit.remove', {'id': produit.id}) }}" class="btn btn-sm btn-outline-danger"><i class="fas fa-minus"></i></a>
                                <a href="{{ path('produit.add', {'id': produit.id}) }}" class="btn btn-sm btn-outline-success"><i class="fas fa-shopping-cart mr-1"></i>Ajouter</a>
                            </div>
                            <div class="card-text text-center text-primary mt-1">
                                    <!--si le produit est dans le panier, on affiche sa quantité et son coût total -->
                                    {% if panier[produit.id] is defined %}
                                            <i class="fas fa-shopping-cart mr-1"></i>
                                            {{ panier[produit.id]*produit.nbUniteMesure }} {{ produit.uniteMesure }}
                                            ({{ panier[produit.id] * produit.prix }}€)

                                    {% endif %}
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
