{% extends  'base.html.twig' %}
{% block title %}
Gestion des Points Retrait
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Gestion des Points Retrait</h1>
        {% for message in app.flashes('success')%}
            <div class="alert alert-success">
                {{  message }}
            </div>
        {% endfor %}
        <div class="text-right mb-2">
            <a href="{{ path('admin.pointretrait.new') }}" class="btn btn-primary">Créer un nouveau Point Retrait</a></td>
        </div>
        <table class="table table-striped table-light">
            <thead class="bg-success text-light">
                <tr>
                    <th>Nom</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
        <tbody>
        {% for pr in pointretrait %}
            <tr>
                <td>{{ pr.nom }}</td>
                <td>{{ pr.cp }}</td>
                <td>{{ pr.ville }}</td>
                <td class="d-flex flex-wrap justify-content-around">
                    <a href="{{ path('admin.pointretrait.edit', {id: pr.id}) }}" class="btn btn-primary">Editer</a>
                    <form method="POST" action="{{ path('admin.pointretrait.delete', {id: pr.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pr.id) }}">
                        <button class="btn btn-danger delete">Supprimer</button>
                    </form>
                </td>
            </tr>
         {%  endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
