{% extends  'base.html.twig' %}
{% block title 'Nos Points Retrait'%}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h1>{{ pointretrait.nom }}</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-justify">{{ pointretrait.descr | nl2br }}</div>
        </div>
        <div class="row">
            <div class="col-4">
                <p><u>Nos horaires pour le retrait des commandes:</u></p>
                <p>les <b>{{ pointretrait.jour }}s</b> de <b>{{ pointretrait.ouverture }}</b> à <b>{{ pointretrait.fermeture }}</b></p>
                <p class="mb-0">{{ pointretrait.adresse1 }}</p>
                <p class="mb-0">{{ pointretrait.adresse2 }}</p>
                <p class="mb-0">{{ pointretrait.cp }}</p>
                <p>{{ pointretrait.ville }}</p>
                <p><a href="#" class="btn btn-primary">Contacter ce Point Retrait</a></p>
            </div>
            <div class="col-8 text-right">
                <img src="../../../public/assets/img/pointretrait/{{ pointretrait.photo }}" title="Point Retrait Kouizine: {{ pointretrait.nom }}"
                     alt="photo du Point Retrait Kouizine: {{ pointretrait.nom }}" class="img-thumbnail" style="max-height: 18rem;">
            </div>
        </div>
    </div>
{% endblock %}
